$brown: #9A5924;
$pink: #F2E0CE;
$light-brown: #DBA674;
$peach: #F3E6D5;
$lighten_brown: #895A31;
$dark-brown: #532805;

$iconColor: $brown;
$headerBtnBorder: $brown;
$headerNavLine: $pink;
$navItemBorder: $brown;
$mainBtnBg: $brown;
$mainTitle: $brown;
$camelIconBorder: $light-brown;

$bodyInfoBg: $peach;
$cardBlockbg: $brown;
$cardBlockBorder: $brown;

$camelWorkLink: $brown;
$camelLinkHover: $brown;

$productsBg: $pink;
$commentsBoxBorder: $brown;
$commentIdBorder: $brown;
$addressColor: $brown;
$dotsBg: $light-brown;
$activeDot: $brown;

$footerBg: $dark-brown;
$footerNavBorder: $light-brown;
$footerHoverLink: $light-brown;
$footerIcon: $light-brown;

